//
//  Secrets.xcconfig
//  ttubeokAR
//
//  Created by Subeen on 1/18/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ttubeokAR/Pods-ttubeokAR.debug.xcconfig"
#include "Pods/Target Support Files/Pods-ttubeokAR/Pods-ttubeokAR.release.xcconfig"


NMFClientId = 2lhbpm3vx1
NMFClientSecret = GiFNBiSgQrCLboE8ozyjcqMVdzK4Y5PDAjXSVY3p
